# 3.4.2-4 Modelling Dataset Versions
#### normalization, balancing and train/test splits

## 1) Load Required Libraries

In [82]:
library("dplyr")
library("caret")
library("mltools")

## 2) Load Data

In [2]:
transformed2.df <- read.csv(file="TransfromedData2.csv", header=TRUE, sep=",")
glimpse(transformed2.df)

Observations: 884,570
Variables: 27
$ X                                      <int> 1, 2, 3, 4, 5, 6, 7, 8, 9, 10,…
$ loan_amnt                              <int> 5600, 7500, 12200, 11200, 2500…
$ term                                   <fct>  36 months,  36 months,  36 mo…
$ int_rate                               <dbl> 18.04, 13.87, 12.29, 11.34, 15…
$ installment                            <dbl> 202.57, 255.86, 406.91, 368.48…
$ grade                                  <fct> G, D, C, C, E, C, C, A, B, C, …
$ home_ownership                         <fct> OWN, MORTGAGE, OWN, RENT, MORT…
$ annual_inc                             <dbl> 0.6677529, 0.7174611, 0.661276…
$ verification_status                    <fct> Not Verified, Not Verified, No…
$ pymnt_plan                             <fct> n, n, n, n, n, n, n, n, n, n, …
$ purpose                                <fct> home_improvement, Others, home…
$ dti                                    <dbl> 25.84, 20.95, 9.31, 6.92, 6.82…
$ open_acc                               <int> 11, 15, 4, 9, 5, 9, 16, 6, 7, …
$ pub_rec                                <int> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, …
$ total_acc                              <int> 17, 29, 8, 11, 12, 12, 41, 14,…
$ initial_list_status                    <fct> f, f, f, f, f, f, f, f, f, f, …
$ application_type                       <fct> INDIVIDUAL, INDIVIDUAL, INDIVI…
$ Compensation.of.employees              <int> 149, 149, 149, 149, 149, 159, …
$ Gross.operating.surplus                <int> 197, 197, 197, 197, 197, 198, …
$ Per.capita.real.GDP.by.state           <int> 442, 442, 442, 442, 442, 445, …
$ Quantity.indexes.for.real.GDP.by.state <int> 333, 333, 333, 333, 333, 335, …
$ Real.GDP.by.state                      <int> 309, 309, 309, 309, 309, 310, …
$ Subsidies                              <int> 6, 6, 6, 6, 6, 377, 377, 377, …
$ Taxes.on.production.and.imports        <int> 339, 339, 339, 339, 339, 4, 4,…
$ regions                                <fct> West, West, West, West, West, …
$ month                                  <int> 1, 6, 3, 3, 12, 12, 3, 11, 5, …
$ default                                <lgl> TRUE, FALSE, FALSE, FALSE, FAL…

## 3) Transform Data for Modelling

### 3.1) Basic Transforms

Convert all factor levels to uppercase and replace spaces for underscores to make them more readable

In [3]:
transformed2.df <- transformed2.df %>% mutate(term = factor(term, labels = c('36MO', '60MO')),
        verification_status = factor(verification_status, labels = c('NOT_VERIFIED', 'SOURCE_VERIFIED', 'VERIFIED')),
        purpose = factor(purpose, labels = c('CREDIT_CARD', 'DEBT_CONSOLIDATION', 'HOME_IMPROVEMENT', 'MAJOR_PURCHASE', 'OTHERS', 'SMALL_BUSINESS')),
        initial_list_status = factor(initial_list_status, labels = c('F', 'W')),
        regions = factor(regions, labels = c('MIDWEST', 'NORTHEAST', 'SOUTH', 'WEST')),
        pymnt_plan = factor(pymnt_plan, labels = c("N", "Y")))

Rename external source columns for readability and ease of programmatic reference

In [4]:
transformed2.df <- transformed2.df %>% rename("compensation_of_employees" = "Compensation.of.employees", 
                           "gross_operating_surplus" = "Gross.operating.surplus",
                           "per_capita_real_gdp_by_state" = "Per.capita.real.GDP.by.state",
                           "quantity_indexes_for_real_gdp_by_state" = "Quantity.indexes.for.real.GDP.by.state",
                           "real_gdp_by_state" = "Real.GDP.by.state",
                           "subsidies" = "Subsidies",
                           "taxes_on_production_and_imports" = "Taxes.on.production.and.imports")

Add a `returns` with the amount expected to be gained from the loan from interests alone

In [5]:
transformed2.df <- transformed2.df %>% mutate(returns = (installment * ifelse(term=='36MO', 36, 60)) - loan_amnt)

Glimpse newly transformed dataframe

In [6]:
glimpse(transformed2.df)

Observations: 884,570
Variables: 28
$ X                                      <int> 1, 2, 3, 4, 5, 6, 7, 8, 9, 10,…
$ loan_amnt                              <int> 5600, 7500, 12200, 11200, 2500…
$ term                                   <fct> 36MO, 36MO, 36MO, 36MO, 36MO, …
$ int_rate                               <dbl> 18.04, 13.87, 12.29, 11.34, 15…
$ installment                            <dbl> 202.57, 255.86, 406.91, 368.48…
$ grade                                  <fct> G, D, C, C, E, C, C, A, B, C, …
$ home_ownership                         <fct> OWN, MORTGAGE, OWN, RENT, MORT…
$ annual_inc                             <dbl> 0.6677529, 0.7174611, 0.661276…
$ verification_status                    <fct> NOT_VERIFIED, NOT_VERIFIED, NO…
$ pymnt_plan                             <fct> N, N, N, N, N, N, N, N, N, N, …
$ purpose                                <fct> HOME_IMPROVEMENT, OTHERS, HOME…
$ dti                                    <dbl> 25.84, 20.95, 9.31, 6.92, 6.82…
$ open_acc                               <int> 11, 15, 4, 9, 5, 9, 16, 6, 7, …
$ pub_rec                                <int> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, …
$ total_acc                              <int> 17, 29, 8, 11, 12, 12, 41, 14,…
$ initial_list_status                    <fct> F, F, F, F, F, F, F, F, F, F, …
$ application_type                       <fct> INDIVIDUAL, INDIVIDUAL, INDIVI…
$ compensation_of_employees              <int> 149, 149, 149, 149, 149, 159, …
$ gross_operating_surplus                <int> 197, 197, 197, 197, 197, 198, …
$ per_capita_real_gdp_by_state           <int> 442, 442, 442, 442, 442, 445, …
$ quantity_indexes_for_real_gdp_by_state <int> 333, 333, 333, 333, 333, 335, …
$ real_gdp_by_state                      <int> 309, 309, 309, 309, 309, 310, …
$ subsidies                              <int> 6, 6, 6, 6, 6, 377, 377, 377, …
$ taxes_on_production_and_imports        <int> 339, 339, 339, 339, 339, 4, 4,…
$ regions                                <fct> WEST, WEST, WEST, WEST, WEST, …
$ month                                  <int> 1, 6, 3, 3, 12, 12, 3, 11, 5, …
$ default                                <lgl> TRUE, FALSE, FALSE, FALSE, FAL…
$ returns                                <dbl> 1692.52, 1710.96, 2448.76, 206…

### 3.2) One-hot encoded version (for monotonic constraints)

In [7]:
transformed2.1hot.df <- one_hot(as.data.table(transformed2.df))
glimpse(transformed2.1hot.df)

Observations: 884,570
Variables: 50
$ X                                      <int> 1, 2, 3, 4, 5, 6, 7, 8, 9, 10,…
$ loan_amnt                              <int> 5600, 7500, 12200, 11200, 2500…
$ term_36MO                              <int> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, …
$ term_60MO                              <int> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, …
$ int_rate                               <dbl> 18.04, 13.87, 12.29, 11.34, 15…
$ installment                            <dbl> 202.57, 255.86, 406.91, 368.48…
$ grade_A                                <int> 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, …
$ grade_B                                <int> 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, …
$ grade_C                                <int> 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, …
$ grade_D                                <int> 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, …
$ grade_E                                <int> 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, …
$ grade_F                                <int> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, …
$ grade_G                                <int> 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, …
$ home_ownership_MORTGAGE                <int> 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, …
$ home_ownership_OWN                     <int> 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, …
$ home_ownership_RENT                    <int> 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, …
$ annual_inc                             <dbl> 0.6677529, 0.7174611, 0.661276…
$ verification_status_NOT_VERIFIED       <int> 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, …
$ verification_status_SOURCE_VERIFIED    <int> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, …
$ verification_status_VERIFIED           <int> 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, …
$ pymnt_plan_N                           <int> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, …
$ pymnt_plan_Y                           <int> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, …
$ purpose_CREDIT_CARD                    <int> 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, …
$ purpose_DEBT_CONSOLIDATION             <int> 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, …
$ purpose_HOME_IMPROVEMENT               <int> 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, …
$ purpose_MAJOR_PURCHASE                 <int> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, …
$ purpose_OTHERS                         <int> 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, …
$ purpose_SMALL_BUSINESS                 <int> 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, …
$ dti                                    <dbl> 25.84, 20.95, 9.31, 6.92, 6.82…
$ open_acc                               <int> 11, 15, 4, 9, 5, 9, 16, 6, 7, …
$ pub_rec                                <int> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, …
$ total_acc                              <int> 17, 29, 8, 11, 12, 12, 41, 14,…
$ initial_list_status_F                  <int> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, …
$ initial_list_status_W                  <int> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, …
$ application_type_INDIVIDUAL            <int> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, …
$ application_type_JOINT                 <int> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, …
$ compensation_of_employees              <int> 149, 149, 149, 149, 149, 159, …
$ gross_operating_surplus                <int> 197, 197, 197, 197, 197, 198, …
$ per_capita_real_gdp_by_state           <int> 442, 442, 442, 442, 442, 445, …
$ quantity_indexes_for_real_gdp_by_state <int> 333, 333, 333, 333, 333, 335, …
$ real_gdp_by_state                      <int> 309, 309, 309, 309, 309, 310, …
$ subsidies                              <int> 6, 6, 6, 6, 6, 377, 377, 377, …
$ taxes_on_production_and_imports        <int> 339, 339, 339, 339, 339, 4, 4,…
$ regions_MIDWEST                        <int> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, …
$ regions_NORTHEAST                      <int> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, …
$ regions_SOUTH                          <int> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, …
$ regions_WEST                           <int> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, …
$ month                                  <int> 1, 6, 3, 3, 12, 12, 3, 11, 5, …
$ default                                <lgl> TRUE, FALSE, FALSE, FALSE, FAL…
$ returns                                <dbl> 1692.52, 1710.96, 2448.76, 206…

### 3.3) Train / Test split both versions

Initialize Seed

In [8]:
seedNum = 19
set.seed(seedNum)

Create partitions

In [9]:
train.indx <- createDataPartition(y=transformed2.df$default, p=0.85, list=FALSE)
train.1hot.df <- transformed2.1hot.df[train.indx,-1]
test.1hot.df <- transformed2.1hot.df[-train.indx,-1]
train.df <- transformed2.df[train.indx,-1]
test.df <- transformed2.df[-train.indx,-1]

### 3.4) Create sampled versions of both training datasets (for cross validation)

Undersample train dataset for cross validation

train.samp.df <- downSample(x = train.df[, -26], y = as.factor(train.df$default))
train.samp.df <- train.samp.df %>% rename("default" = "Class")
#train.samp.df$default <- as.logical(train.samp.df$default)
table(train.samp.df$default)

train.samp.1hot.df <- downSample(x = train.1hot.df[, -48], y = as.factor(train.1hot.df$default))
train.samp.1hot.df <- train.samp.1hot.df %>% rename("default" = "Class") %>% mutate(default = as.logical(default)) 
#train.samp.1hot.df$default <- as.logical(train.samp.1hot.df$default)
table(train.samp.1hot.df$default)

In [10]:
train.samp.indx <- createDataPartition(y=train.df$default, p=0.15, list=FALSE)
train.samp.df <- transformed2.1hot.df[train.samp.indx,-1]
train.samp.1hot.df <- transformed2.1hot.df[train.samp.indx,-1]

### 3.5) Save Datasets

In [12]:
write.csv(transformed2.df, file = "transformed2.df.csv")
write.csv(transformed2.1hot.df, file = "transformed2.1hot.df.csv")
write.csv(train.df, file = "train.df.csv")
write.csv(train.samp.df, file = "train.samp.df.csv")
write.csv(train.1hot.df, file = "train.1hot.df.csv")
write.csv(train.samp.1hot.df, file = "train.samp.1hot.df.csv")
write.csv(test.df, file = "test.df.csv")
write.csv(test.1hot.df, file = "test.1hot.df.csv")

[1] 13000